<% layout("/layouts/boilerplate.ejs")%>
<div class="row">
    <div class="col-8 offset-2">
<body>
    <br>
    <h3>Edit your listing</h3><br>
    <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate 
        class="needs-validation" enctype="multipart/form-data">
        
        <div>
        <label for="title" class="form-label">Title:</label>
        <input required value="<%= listing.title %>" name="listing[title]" type="text" class="form-control"><br>
        </div>

        <div>
        <label for="description" class="form-label">Description:</label>
        <textarea required class="form-control" name="listing[description]" id="description" cols="30" rows="3"><%= listing.description %></textarea><br>
        </div>

        <div class="mb-3 " >
            original image
            <img src="<%= originalIMage %>" >

        </div>

        <div class="mb-3 ">
            <label  class="form-label" for="image">Upload New Image:</label>
            <input  class="form-control" type="file" name="listing[image]" id="image"><br>
        </div>

        <div>
        <label  class="form-label" for="price">Price:</label>
        <input required class="form-control" value="<%= listing.price %>" name="listing[price]" type="number"><br>
        </div>

        <div>
        <label  class="form-label" for="location">Location:</label>
        <input required class="form-control" value="<%= listing.location %>" name="listing[location]" type="text"><br>
        </div>

        <div>
        <label  class="form-label" for="country">Country:</label>
        <input required class="form-control" value="<%= listing.country %>" name="listing[country]" type="text"><br>
        </div>

        <button class="btn btn-dark add-btn">Update</button>
        <br><br>
    </form>
</form>

</body>
</html>
</div>
</div>